
:root {
--pastelgreen: #ecedda;
--lightgrey: #dddbdb;
--darkgrey: #aeacac;
}
#root{
    background:#ecedda;
    
}
* {
    margin: auto;
    font-family: 'Quicksand';
    font-size: inherit;
    
  }
.task-container{
    background:  #aeacac;
    height: 800px;
    width: 1000px;
    border-radius: 10px;
  
    
}
.eachtask {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}
.card-title{
    text-align: center;
    font-size: 1.5rem;
}

.btn.btn-dark {
    padding-inline: 40px;
}

.TaskCard.card{
    border-radius: 10px;
    box-shadow: wheat;
    margin-bottom: 40px;
}
h3 {
    font-size: 1.75rem;
    display: flex;
    justify-content: flex-start;
    padding: 25px;
}
body {
    background:#ecedda;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.form{
    background:#dddbdb;
    border-radius: 10px;
    width: 800px;
    height: 100px;
    text-align: center;
    font-size: large;
    position:relative; 
    padding-top: 25px;
    

}

.header {
    text-align: center;
   background: #ecedda;
   font-family: cursive;
   
}

.logo{
    width: 100px;
    height: 100px;
}
/* url('https://i.pinimg.com/736x/fc/56/31/fc56310475f16e697500fe11677aaf2d.jpg'); */